<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div class="form" *ngIf="student?.id !== 0">
                <h2>Update: {{student.name}}</h2>
                <div>
                    <label>Id: </label>{{student.id}}
                </div>
                <div>
                    <label>Name: </label>
                    <input [(ngModel)]="student.name" class="" placeholder="Name" />
                    <br/>
                    <label>Email: </label>
                    <input [(ngModel)]="student.email" class="" placeholder="Email" />
                </div>
            </div>
            <div class="form" *ngIf="!student || student.id === 0">
                <h2>Add Student</h2>
                <div>
                    <label>Name: </label>
                    <input [(ngModel)]="student.name" class="" placeholder="" /><br/>
        
                    <label>Email: </label>
                    <input [(ngModel)]="student.email" class="" placeholder="" />
                </div>
            </div>
        
            <button class="btn" (click)="goBack()">Back</button>
            <button class="btn blue" (click)="save()">Save</button>
        </div>
    </div>
  </div>